$light-bg-color: #f3f4f6;
$card-bg-color: #f3f4f6;
$white-color: #ffffff;
$typography-color: #344051;
$label-color: #344051;
$h-title-color: #141c24;
$subtext-color: #637083;
$placeholder-color: #637083;
$link-color: #97a1af;
$link-active-color: #1975ff;
$primary-color: #1975ff;
$stroke-color: #ced2da;
$success-color: #40bf7f;
$attention-color: #ffb219;
$error-color: #f64c4c;
$default-color: #ced2da;
